.metadata/
RemoteSystemsTempFiles
kotlin/out
.recommenders
.DS_Store
**/node_modules/**
**/mingw-w64-v7.0.0/**

# Ignoring vscode metadata
.vscode/**

# Ignoring Django Files
node_modules
.tmp
npm-debug.log
wisdompets/db.sqlite3
__pycache__/
*.py[cod]
Ex_Files_Optimizing_Python_Code*
**/build/**
